<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="container" style="text-align: center">

        {% include 'navbar.html' %}

        <h1>
            Welcome to our web page
        </h1>

        <form action="/home/" method="POST">
            {% csrf_token %}
            <input type="text" name="check">
            <button>Send</button>
        </form>

        
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem numquam, asperiores enim aliquam officiis nesciunt, consequuntur optio commodi veniam eveniet necessitatibus provident qui? Maxime aperiam nisi, dolore voluptas id autem recusandae magni alias libero dignissimos, modi quo quisquam ipsa eligendi nobis, neque quia molestias maiores ea quidem. Voluptates, vel quisquam.
        </p>
        <button>Contact us</button>

        {% if isActive %}

        <div>

            <!-- accessing dynamic data -->

            <h1>todays date is {{date}}</h1>
            <h1>Name is {{name}}</h1>
            <hr>
            <h1>Student data</h1>
            <h2>Student name: {{student_data.student_name}}</h2>
            <h2>Student college: {{student_data.student_college}}</h2>
            <h2>Student location: {{student_data.student_city}}</h2>
        </div>

        <hr>
        <h1>Favorite programs</h1>

        {% for p in list_of_programs %}

        <h1>{{p}}</h1>

        {% endfor %}
    {% endif %}
    </div>
    
</body>
</html>